@font-face {
    font-family: 'D-DIN Regular';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Regular'), url('../font/D-DIN.woff') format('woff');
}

@font-face {
    font-family: 'D-DIN DIN-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN DIN-Italic'), url('../font/D-DIN-Italic.woff') format('woff');
}

@font-face {
    font-family: 'D-DIN DIN-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN DIN-Bold'), url('../font/D-DIN-Bold.woff') format('woff');
}

@font-face {
    font-family: 'D-DIN Condensed Regular';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Condensed Regular'), url('../font/D-DINCondensed.woff') format('woff');
}

@font-face {
    font-family: 'D-DIN Exp Regular';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Exp Regular'), url('../font/D-DINExp.woff') format('woff');
}

@font-face {
    font-family: 'D-DIN Exp DINExp-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Exp DINExp-Italic'), url('../font/D-DINExp-Italic.woff') format('woff');
}

@font-face {
    font-family: 'D-DIN Condensed DINCondensed-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Condensed DINCondensed-Bold'), url('../font/D-DINCondensed-Bold.woff') format('woff');
}

@font-face {
    font-family: 'D-DIN Exp DINExp-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('D-DIN Exp DINExp-Bold'), url('../font/D-DINExp-Bold.woff') format('woff');
}

body {
    background-color: black;
}

header {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7539390756302521) 35%, rgba(0, 0, 0, 0) 100%);
}

h1 {
    font-family: 'D-DIN DIN-Bold';
    font-size: 96px;
}

h2 {
    font-family: 'D-DIN DIN-Bold';
    font-size: 48px;
}

h3 {
    font-family: 'D-DIN Regular';
    font-size: 18px;
}

#menu.show {
    transform: none;
}

#btmenu:hover,
#closemenu:hover {
    cursor: pointer;
}

@media (min-width:1024px) {
    #btmenu {
        display: none;
    }
    #closemenu {
        display: none;
    }
    #menu ul {
        display: flex;
    }
    #menu ul li {
        margin-left: 24px;
    }
    #menu ul li a {
        color: #cccccc;
        transition: ease 250ms;
    }
    #menu ul li a:hover {
        color: #fff;
    }
    #menu ul li a:after {
        display: block;
        content: '';
        border-bottom: solid 3px #fff;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }
    #menu ul li a:hover:after {
        transform: scaleX(1);
    }
}

@media (max-width:1025px) {
    #menu {
        background: rgba($color: #000000, $alpha: 0.75);
        backdrop-filter: blur(10px);
        padding: 1em;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        transform: translateX(100%);
        transition: transform .5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    #menu ul {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
    #menu ul li {
        margin-bottom: 24px;
    }
    #myVideo {
        display: none;
    }
    #menu ul li a {
        margin-left: 0;
        transition: ease 0.5s;
        color: #cccccc;
    }
    #menu ul li a:hover {
        margin-left: 40px;
        color: #fff;
    }
}

$white: #fff;
$heroHeight: 800px;
#hero {
    height: $heroHeight;
    overflow: hidden;
    position: relative;
}

.layer {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: $heroHeight;
    position: fixed;
    z-index: -1;
}

#hero-mobile {
    display: none;
    background: url("../img/bg-header-mobile.png") no-repeat center bottom / cover;
    height: 320px;
}

#starship-mobile {
    display: none;
    background: url("../img/starship.webp") no-repeat center bottom / cover;
}

#hero,
.layer {
    min-height: 800px;
}

.layer-bg {
    background-image: url("../img/bg-header.png");
}

.layer-overlay {
    background-image: url("../img/mars.png");
}

.layer-4 {
    background-image: url("../img/layer4.png");
}

// Media Queries
@media only screen and (max-width: 768px) {
    #hero {
        display: none;
    }
    #hero-mobile,
    #starship-mobile {
        display: block;
    }
}

.why-mars {
    background-image: url("../img/mars-flat.png");
    background-size: cover;
}

#myVideo {
    min-width: 100%;
    min-height: 100%;
}

.starship {
    position: relative;
}

.content {
    position: absolute;
    top: 20rem;
    color: #f1f1f1;
    width: 100%;
}

.cta {
    color: white;
    border: 2px solid white;
    padding: 16px 32px;
    background: none;
    transition: 0.25s;
}

.cta:hover {
    background: #fff;
    color: #000000;
}